
.fixed-container{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: orange;
  padding-top: 20vh;
}


.top-container{
  position: fixed;
}

.col-auto {
  padding-left: 0;
}

.form-control{
  width: 20vw;
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 33vh;
}


.g-0 {
  width:50vw;
  justify-content: space-around;
  align-items: center;


}

.col-md-4{
  display: flex;
  width:13vw;
  height:100%;

}

.col-md-8{
  display: flex;
  align-items: center;
}

.img-fluid{
  width:100%;
  height:100%;
  display: block; 
  margin: 0px auto;

}
.card-body{
  
}

.btn-body{
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}