<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="../static/assets/error_page.css" rel="stylesheet">
    <title>Error</title>
</head>
<body>
    <!-- <form method="POST" action="/result_page">
        Url <input name="url" type="text">
		<button type="submit"> word frequency </button>
    </form>  -->
    <div class="fixed-container" style="z-index:2">
      <div class="top-container">
        <form class="row gy-2 gx-3 align-items-center" action="/search_word_page">

          <div class="col-auto">
              <label class="visually-hidden" for="autoSizingSelect">Preference</label>
              <select class="form-select" id="autoSizingSelect" name="select_op">
                <option selected>Choose...</option>
                <option value="1">Words</option>
                <option value="2">Url</option>
              </select>
          </div>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Name</label>
            <input type="text" class="form-control" name="word_in_searching_field" id="autoSizingInput" placeholder="검색어 혹은 URL을 입력해주세요">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>



    <div class="middle-container" style="z-index:1">
     <div class="error-message">This video has no comments. Please find another video :)</div>
    </div>

</body>
</html>
