<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="../static/assets/home_page.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <!-- <form method="POST" action="/result_page">  
        Url <input name="url" type="text">
		<button type="submit"> word frequency </button>
    </form>  -->
    <div class="top-container">
      <form class="row gy-2 gx-3 align-items-center">

          <div class="col-auto">
              <label class="visually-hidden" for="autoSizingSelect">Preference</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>Choose...</option>
                <option value="1">Words</option>
                <option value="2">Url</option>
              </select>
          </div>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Name</label>
            <input type="text" class="form-control" id="autoSizingInput" placeholder="검색어 혹은 URL을 입력해주세요">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="middle-container">
        <div class="card mb-3" style="max-width: 60vw;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../static/images/youtube_logo.jpg" class="img-fluid rounded-start" alt="썸네일">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                

              </div>
              <div class="btn-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>              
            </div>
          </div>
        </div>
      </div>
</body>
</html>
