{% with messages =get_flashed_messages() %}
  {% if messages %}
    <scirpt>
      alert("{{messages[-1]}}")
    </scirpt>
  {% endif %}
{% endwith %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="../static/assets/home_page.css" rel="stylesheet">
    <title>Search Word</title>
</head>
<body>
    <!-- <form method="POST" action="/result_page">
        Url <input name="url" type="text">
		<button type="submit"> word frequency </button>
    </form>  -->
    <div class="fixed-container" style="z-index:2">
      <div class="top-container">
        <div class="site-title">
          YouTube Video Pos/Neg Analysis
        </div>
        <div class="site-explain">
          Enter a search term or YouTube url you want to check for positive/negative!<br>
          CAUTION: Crawling may take some time
        </div> 
        <form class="row gy-2 gx-3 align-items-center" action="/search_word_page">

          <div class="col-auto">
              <label class="visually-hidden" for="autoSizingSelect">Preference</label>
              <select class="form-select" id="autoSizingSelect" name="select_op">
                <option selected>Choose...</option>
                <option value="1">Words</option>
                <option value="2">Url</option>
              </select>
          </div>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Name</label>
            <input type="text" class="form-control" name="word_in_searching_field" id="autoSizingInput" placeholder="검색어 혹은 URL을 입력해주세요">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div class="middle-container" style="z-index:1">
      <div class="result-title">Top 10 video recommendations for search results {{keyword}}</div>

      {% for link in videos_data.keys() %}
      <div class="card mb-3" style="max-width: 60vw;">
        <div class="row g-0">
          <div class="col-md-4">
            {% if videos_data[link]['img'] == None %} 
              <img src="../static/images/youtube_logo.jpg" class="img-fluid rounded-start" alt="썸네일">
            {% else %}
              <img src="{{videos_data[link]['img']}}" class="img-fluid rounded-start" alt="썸네일">
            {% endif %}          
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{videos_data[link]['title']}}</h5>
              <div class="card-text">likes: {{videos_data[link]['likes']}}</div>
              <div class="card-text">views: {{videos_data[link]['hits']}}</div> 
            </div>
            <div class="btn-body">
              <a href="{{url_for('result', my_var=link)}}" class="btn btn-primary">Analysis</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</body>
</html>
